/* #region body */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #5A1A1A
}
/* #endregion */

.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 120px; 
  background-color: #FFD5A5;
}

.nav{
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 30px 120px;
  font-size: 24px;
}

.buttons{
  background-color: #F5C196;
  border-radius: 13px;
  box-sizing: border-box;
  padding: 15px 15px;
  color: #5A1A1A;
  box-shadow: 0px 6px 8.7px 0px #DEA07E
}

.main{
  margin-top: -27px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFDFAF;
  box-sizing: border-box;
  height: 80vh;
  flex-direction: row;
}

.main_content{
  border-radius: 22px;
  border: 1px solid rgba(128, 27, 27, 0.12);
  background: #FFDDB5;
  padding-top: 30px;
}

.new {
  padding: 60px 125px;
}

.recipes_tittle{
  font-size: 40px;
  margin-top: -300px;
  padding: 150px 300px;
}

.main_text{
  margin-top: -125px;
  margin-left: 200px;
  font-size: 28px;
  line-height: 150%;
}

.picture {
  margin-left: 1000px;
  margin-top: -450px;
  width: 27%;
}

.next{
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 24px;
  margin-left: 700px;
  display: flex;
  gap: 3%;
}